body {
  font-family: UbuntuRegular, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, sans-serif;
  font-size: 1em;
  
  margin: 0; padding: 0;
  padding-bottom: 100px;
}
a, .project-title {
  color: #D62929; 
  text-decoration: none;
}
a:visited {
  color: #D62929;
}
a:hover {
  text-decoration: underline;
}
u a:hover {
  border-bottom: 1px solid #D62929;
}

ul.list {
  margin-top: 5px;
}
ul.list li {
  list-style-image: url(images/item.png);
  text-align: left;
  margin-bottom: 5px;
}

#printable {
  position: absolute;
  top:0; right: 0;
  background-color: #c2e5e5;
  color: gray;
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 10px;
  box-shadow: 0 0 2px 2px #c2e5e5;
}

#header {
  margin: auto;
  text-align: center;
  background: #1a3d3d;
  color: #c2e5e5;
}
#header h1 {
  font-size: 8em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}



#selector {
  margin: auto;
  text-align: center;
  font-family: verdana;
  padding-top: 1px;
  background: rgba(76,179,179, 0.5);
  background-size: 50px 50px;
  background-image:
    linear-gradient(45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent);
  border: 1px solid #1a3d3d;
  border-left: 0;
  border-right: 0;
}
#selector .item {
  display: inline-block;

  cursor: pointer;
  margin: 5px 10px;
  padding: 7px 20px;
  background: rgba(214,41,41, 0.4);
  background-size: 50px 50px;
  background-image:
    linear-gradient(-45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent);
  border-radius: 50px;
}
#selector li.item:hover {
  background: rgba(214,41,41, 0.6);
}
#selector .item.selected, #selector .item.selected:hover {
  background: rgba(214,41,41, 1);
  color: #c2e5e5;
}


#tabs-container {
  margin: 5px;
}

h2.section-title {
  
}
#projects-filter {
  font-size: 80%;
}
#projects-filter a {
  cursor: pointer;
}
#projects-filter a[selected="true"] {
  font-weight: bold;
}
.project {
  margin-top: 30px;
}
.project-title {
  font-weight: bold;
  display: inline;
  font-size: 110%;
  margin-left: 15px;
}
.project-year {
  float: right;
  color: #ccc;
  font-weight: bold;
  font-size: 110%;
  margin-right: 40px;
}

.project-description {
  margin: 10px;
  margin-bottom: 5px;
  font-family: UbuntuItalic;
  font-size: 95%;
  border-radius: 5px 50px 50px 5px;
  padding-left: 20px;
  padding-right: 10px;
  background: rgba(105,225,225, 0.2) no-repeat center right;
  box-shadow: 0 0 2px 1px #c2e5e5;
}
.mozilla .project-description {
  padding-right: 200px;
  background-image: url(images/logos/mozilla.png);
}
.yoono .project-description {
  padding-right: 200px;
  background-image: url(images/logos/yoono.png);
}
.xulprofiler .project-description {
  padding-right: 200px;
  background-image: url(images/logos/xulprofiler.png);
}
.easyneuf .project-description {
  padding-right: 200px;
  background-image: url(images/logos/easyneuf.png);
}
.lesept .project-description {
  padding-right: 200px;
  background-image: url(images/logos/lemonde.png);
}

.arretetoila .project-description {
  padding-right: 100px;
  background-image: url(images/logos/arretoila.png);
}
.kaleidoscope .project-description {
  padding-right: 100px;
  background-image: url(images/logos/kaleidoscope.png);
}
.project-description:before, .project-description:after {
  font: bold 20px Times New Roman;
  color: #A0A0A0;
  display: block;
  margin-left: -10px;
}
.project-description:before {
  content: "«";
}
.project-description:after {
  content: "»";
}
.project-description ul {
  margin-bottom: 0; padding-bottom: 0;
}

.project-features {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 80%;
}

.project-item {
  font-weight: Bold;
}

.images-box {
  text-align:center;
}
a.group:hover {
  text-decoration: none;
}
a.group img {
  vertical-align: middle;
  padding: 5px;
	background: white;
	border: 1px solid #DDD;
	margin: 5px 20px 7px 0;
  max-width: 150px;
  max-height: 150px;
  box-shadow: 0 0 6px 3px #f0f0f0;
}

#header {
  font-size: 11px;
  padding-bottom: 2px;
}

a.mail img {
  margin-bottom: -3px;
}
a.mail:before {content:"@"; margin-right: 3px;}
a.blog:before {content:url(images/rss.png); margin-right: 3px; vertical-align: -1px;}
a.linkedin:before {content:url(images/linkedin.png); margin-right: 3px; vertical-align: -1px;}
a.twitter:before {content:url(images/twitter.png); margin-right: 3px; vertical-align: -1px;}
a.github:before {
  content:url(images/github.png); margin-right: 3px; vertical-align: -1px;
}

.section-title {
  display: none;
}
.tab {
  display: none;
}
.tab.selected {
  display: block;
}

#skills {
  margin-top: 30px;
}

@media print {
  #header h1 {
    font-size: 3em;
  }
  .images-box {
    display: none;
  }
  #selector {
    display: none;
  }
  .section-title {
    display: block;
  }
  .tab {
    display:block;
  }
  .project-description {
    box-shadow: none;
  }
  #printable  {
    display: none;
  }
  #projects-filter {
    display: none;
  }
  .project {
    display: block !important;
  }
}
